In [1]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

In [2]:
corpus = [
         'This is the first document.',
         'This document is the second docuemnt',
         'And this is the third one.',
         'Is this the first document?',
         ]

In [3]:
# cv: count vectorizer
cv = CountVectorizer()

# word frequency in each document
wf = cv.fit_transform(corpus)

print(wf.shape)

(4, 10)

### Compute TF-IDF Values

In [4]:
tfidf_transformer = TfidfTransformer(smooth_idf=True, use_idf=True)
#tfidf_transformer = TfidfTransformer(use_idf=False)

X_tfidf = tfidf_transformer.fit(wf)

feature_names = cv.get_feature_names()

In [5]:
print('displaying idf scores')
df = pd.DataFrame(tfidf_transformer.idf_, index=feature_names, columns=['idf_weights'])
display(df)

displaying idf scores

          idf_weights
and          1.916291
docuemnt     1.916291
document     1.223144
first        1.510826
is           1.000000
one          1.916291
second       1.916291
the          1.000000
third        1.916291
this         1.000000

In [6]:
# sort idf scores
df = df.sort_values(by=['idf_weights'])
display(df)

          idf_weights
is           1.000000
the          1.000000
this         1.000000
document     1.223144
first        1.510826
and          1.916291
docuemnt     1.916291
one          1.916291
second       1.916291
third        1.916291

### tf scores

In [7]:
tfidf_transformer = TfidfTransformer(use_idf=False)

tf_idf_vector = tfidf_transformer.transform(wf)

# get tfidf vector for frist document
first_document_vector = tf_idf_vector[0]

In [8]:
df = pd.DataFrame(first_document_vector.T.todense(), index=feature_names, columns=['tfidf'])
display(df)

             tfidf
and       0.000000
docuemnt  0.000000
document  0.447214
first     0.447214
is        0.447214
one       0.000000
second    0.000000
the       0.447214
third     0.000000
this      0.447214

In [9]:
# tf-idf scores

# settings that you use for the count vectorizer will go here
tfidf_vectorizer = TfidfVectorizer(use_idf=True)

# just send in all your docs here
tfidf_vectorizer_vectors = tfidf_vectorizer.fit_transform(corpus)

Y = tfidf_vectorizer_vectors[0]

In [10]:
tf_idf = pd.DataFrame(Y.T.todense(), index=tfidf_vectorizer.get_feature_names(), columns=["tfidf"])
display(tf_idf)

             tfidf
and       0.000000
docuemnt  0.000000
document  0.469791
first     0.580286
is        0.384085
one       0.000000
second    0.000000
the       0.384085
third     0.000000
this      0.384085